@{
    ViewBag.Url = "'" + Url.Action("Details") + "/'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/Orders.js")

}
<table class="table">
    <tr>
        <th>Company</th>
        <th>OrderId</th>
    </tr>
    <tbody data-bind="foreach: Items">
        <tr>
            <td data-bind="text: CompanyId"></td>
            <td>
                <a data-bind="text: OrderId, attr: { href: @ViewBag.Url    + OrderId, title: OrderId }"></a>
            </td>
          @*  <td>
                <a data-bind="attr: { href: $root.doSomething(@ViewBag.Url    ,$data.OrderId) }, text: $root.doSomething(@ViewBag.Url    ,$data.OrderId)"></a>
            </td>*@
        </tr>
    </tbody>
    <tr id="paginationHolder"></tr>
</table>
PageIndex: <span data-bind="text: PageIndex"></span>
PageSize: <span data-bind="text: PageSize"></span>
TotalResults: <span data-bind="text: TotalResults"></span>
TotalPages: <span data-bind="text: TotalPages"></span>