<connectionStrings>
  <!-- DB Guess DEV -->
  <add name="Scm_Entities" connectionString="metadata=res://*/SCM.csdl|res://*/SCM.ssdl|res://*/SCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chlu1w8vsbiz1.guess.eu;initial catalog=Scm_Dev;persist security info=True;user id=Scm_Dev;password=Scm_Dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
